In [1]:
import numpy as np
import pandas as pd
import zipfile
from cleantext import CleanText as ct
from cleannumbers import CleanNumbers as cn

import glob

data_file = glob.glob('../**/sudeste.csv.zip', recursive=True)
print(data_file)

data = pd.read_csv(data_file[0],
                  compression='zip',
                  engine='python',
                  index_col=False,
                  nrows=1000)

data.info()

['../datasets/sudeste.csv.zip']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wsid    1000 non-null   int64
 1   wsnm    1000 non-null   object
 2   elvt    1000 non-null   float64
 3   lat     1000 non-null   float64
 4   lon     1000 non-null   float64
 5   inme    1000 non-null   object
 6   city    1000 non-null   object
 7   prov    1000 non-null   object
 8   mdct    1000 non-null   object
 9   date    1000 non-null   object
 10  yr      1000 non-null   int64
 11  mo      1000 non-null   int64
 12  da      1000 non-null   int64
 13  hr      1000 non-null   int64
 14  prcp    389 non-null    float64
 15  stp     1000 non-null   float64
 16  smax    1000 non-null   float64
 17  smin    1000 non-null   float64
 18  gbrd    581 non-null    float64
 19  temp    1000 non-null   float64
 20  dewp    1000 non-null   float64
 21  tmax    1000 non-null   float64
 22  dmax    1000 non-null   float64
 23  tmin    1000 non-null   float64
 24  dmin    1000 non-null   float64
 25  hmdy    1000 non-null   float64
 26  hmax    1000 non-null   float64
 27  hmin    1000 non-null   float64
 28  wdsp    969 non-null    float64
 29  wdct    1000 non-null   float64
 30  gust    996 non-null    float64
dtypes: float64(20), int64(5), object(6)
memory usage: 242.3+ KB

In [5]:
a = ct()
d = a.clean_web_text(data)
# print(d)

b = cn(d)
b.clean_numbers(verbose=True)

Mem. usage decreased to 0.12 MB (50.8 % reduction) for a savings of 0.12 MB

,wsid,wsnm,elvt,lat,lon,inme,city,prov,mdct,date,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
0,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-11-06 00:00:00,2007-11-06,...,29.700001,16.799999,25.500000,10.800000,35,58,32,3.2,101,6.5
1,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-11-06 01:00:00,2007-11-06,...,29.900000,13.600000,29.000000,12.200000,39,39,35,3.6,94,6.4
2,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-11-06 02:00:00,2007-11-06,...,29.000000,14.000000,27.400000,13.600000,44,44,39,2.5,93,6.9
3,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-11-06 03:00:00,2007-11-06,...,27.400000,16.900000,25.799999,14.100000,58,58,44,1.7,96,5.8
4,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-11-06 04:00:00,2007-11-06,...,26.299999,17.000000,25.299999,16.400000,57,58,56,3.1,110,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-12-17 11:00:00,2007-12-17,...,27.299999,20.400000,24.799999,19.100000,65,76,63,1.5,87,4.4
996,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-12-17 12:00:00,2007-12-17,...,29.000000,20.100000,26.900000,18.100000,55,65,53,2.9,83,5.2
997,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-12-17 13:00:00,2007-12-17,...,30.600000,19.299999,28.200001,17.799999,53,57,48,2.3,86,6.6
998,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-12-17 14:00:00,2007-12-17,...,31.799999,19.200001,29.000000,16.000000,43,53,39,3.5,97,7.2
999,178,SÃO GONÇALO,237,-6.835777,-38.311584,A333,São Gonçalo,RJ,2007-12-17 15:00:00,2007-12-17,...,32.400002,17.900000,30.500000,15.600000,40,44,37,2.8,43,6.6

In [2]:
import decimal
from cleannumbers import CleanNumbers as cn

a = cn()
# d = data.to_dict('records')
# f = pd.DataFrame(d)
# e = f.tmax.astype(str)
# z = pd.to_numeric(e, downcast='integer')

# test = pd.Series(['1.0', '2.0', '3point0'])
# test = pd.to_numeric(test, errors='ignore')
# test



# def is_number(s):
#     try:
#         float(s)
#         return True
#     except ValueError:
#         pass
 
#     try:
#         import unicodedata
#         unicodedata.numeric(s)
#         return True
#     except (TypeError, ValueError):
#         pass

#     return False

# test = estr.apply(lambda x: is_number(x)).all()

# if test:
#     print('here')
#     estr = estr.astype(np.float64)
# else:
#     print('fuck

g = a.clean_numbers(data, verbose=True)
g.info()
# pd.to_numeric(f.tmax, downcast='integer')

Mem. usage decreased to 87.74 MB (62.9 % reduction) for a savings of 148.77
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 31 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   wsid    1000000 non-null  int16
 1   wsnm    1000000 non-null  object
 2   elvt    1000000 non-null  int16
 3   lat     1000000 non-null  float16
 4   lon     1000000 non-null  float16
 5   inme    1000000 non-null  object
 6   city    1000000 non-null  object
 7   prov    1000000 non-null  object
 8   mdct    1000000 non-null  object
 9   date    1000000 non-null  object
 10  yr      1000000 non-null  int16
 11  mo      1000000 non-null  int8
 12  da      1000000 non-null  int8
 13  hr      1000000 non-null  int8
 14  prcp    132701 non-null   float16
 15  stp     1000000 non-null  float16
 16  smax    1000000 non-null  float16
 17  smin    1000000 non-null  float16
 18  gbrd    576669 non-null   float16
 19  temp    1000000 non-null  float16
 20  dewp    999987 non-null   float16
 21  tmax    1000000 non-null  float16
 22  dmax    999996 non-null   float16
 23  tmin    1000000 non-null  float16
 24  dmin    999975 non-null   float16
 25  hmdy    1000000 non-null  int8
 26  hmax    1000000 non-null  int8
 27  hmin    1000000 non-null  int8
 28  wdsp    978233 non-null   float16
 29  wdct    1000000 non-null  int16
 30  gust    995194 non-null   float16
dtypes: float16(15), int16(4), int8(6), object(6)
memory usage: 87.7+ MB

In [16]:
s = pd.Series([1, 2.1, 3.333, ''])
s.replace('', np.nan, inplace=True)
s_avg = s.mean()
s.fillna(s_avg, inplace=True, downcast='infer')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   wsid    100000 non-null  int64
 1   wsnm    100000 non-null  object
 2   elvt    100000 non-null  float64
 3   lat     100000 non-null  float64
 4   lon     100000 non-null  float64
 5   inme    100000 non-null  object
 6   city    100000 non-null  object
 7   prov    100000 non-null  object
 8   mdct    100000 non-null  object
 9   date    100000 non-null  object
 10  yr      100000 non-null  int64
 11  mo      100000 non-null  int64
 12  da      100000 non-null  int64
 13  hr      100000 non-null  int64
 14  prcp    14882 non-null   float64
 15  stp     100000 non-null  float64
 16  smax    100000 non-null  float64
 17  smin    100000 non-null  float64
 18  gbrd    58027 non-null   float64
 19  temp    100000 non-null  float64
 20  dewp    100000 non-null  float64
 21  tmax    100000 non-null  float64
 22  dmax    100000 non-null  float64
 23  tmin    100000 non-null  float64
 24  dmin    100000 non-null  float64
 25  hmdy    100000 non-null  float64
 26  hmax    100000 non-null  float64
 27  hmin    100000 non-null  float64
 28  wdsp    89867 non-null   float64
 29  wdct    100000 non-null  float64
 30  gust    97494 non-null   float64
dtypes: float64(20), int64(5), object(6)
memory usage: 23.7+ MB