In [ ]:
import numpy as np
import pandas as pd
import zipfile
from cleannumbers import CleanNumbers as cn
from cleantext import CleanText as ct

import glob

data_file = glob.glob('../**/sudeste.csv.zip', recursive=True)
data_f = pd.read_csv(data_file[0], compression='zip', engine='python', index_col=False, nrows=1000)
# b = ct()
# z = b.clean_web_text(data_f)
a = cn(data_f)
x = a.clean_numbers(verbose=True, rpl_empty_with='median', drop_na=False, exceptions=None)
x.head()

In [ ]:
from cleantext import CleanText as ct
from cleannumbers import CleanNumbers as cn

# a = ct()
b = ct().clean_web_text()
c = cn(b)
d = c.clean_numbers(verbose=True, rpl_empty_with='mean',
                    drop_na=False, exceptions=None)
help(cn._whole_check)

In [1]:
import numpy as np
import pandas as pd
import zipfile
from cleannumbers import CleanNumbers as cn
from cleantext import CleanText as ct

import glob

data_file = glob.glob('../../COVID-19-ALL/csse_covid_19_data/csse_covid_19_daily_reports/*.csv', recursive=True)

df = pd.DataFrame()
for f in data_file:
    df_temp = pd.read_csv(f, engine='python', index_col=False)
    if "Last Update" in df_temp.columns:
        df_temp.rename(columns={'Last Update': 'Last_Update', 'Latitude': 'Lat', 'Longitude': 'Long_', 'Province/State': 'Province_State', 'Country/Region': 'Country_Region'}, inplace=True)
    df = df.append(df_temp)

df['Last_Update'] = pd.to_datetime(df['Last_Update'],errors='raise', utc=True, infer_datetime_format=True)

a = cn(df)
x = a.clean_numbers(verbose=True, rpl_empty_with='zeros', drop_na=False, exceptions=['Lat', 'Long_', 'FIPS'])

Mem. usage decreased to 7.68 MB (19.6 % reduction) for a savings of 1.88 MB

In [2]:
# x.Confirmed = x.Confirmed.astype(np.int64)
x.head()

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Lat,Long_,FIPS,Admin2,Active,Combined_Key,Province/State
0,Hubei,Mainland China,NaN,62662,2144,11881,NaN,NaN,NaN,NaN,0,NaN,NaN
1,Guangdong,Mainland China,NaN,1333,5,690,NaN,NaN,NaN,NaN,0,NaN,NaN
2,Henan,Mainland China,NaN,1267,19,736,NaN,NaN,NaN,NaN,0,NaN,NaN
3,Zhejiang,Mainland China,NaN,1203,1,679,NaN,NaN,NaN,NaN,0,NaN,NaN
4,Hunan,Mainland China,NaN,1011,4,661,NaN,NaN,NaN,NaN,0,NaN,NaN